.custom-arrows .slick-prev,
.custom-arrows .slick-next {
  @apply text-[#4D4D4D];
}

.custom-dots .slick-dots li.slick-active button {
  background-color: #4D4D4D;
}

.custom-dots .slick-dots li button {
  background-color: #4D4D4D;
}

.custom-dots .slick-dots li button:before {
  font-size: 12px;
}